/* UsersViewModal.css */

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Initially transparent */
  z-index: 1000;
  animation: slideIn 0.3s forwards;
}

.modal-content {
  background: white;
  height: 100%;
  overflow-y: auto;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.opacity-50 {
  opacity: 0.5;
}
